/* Make container wider */

/* Wider main document container */
.document {
  max-width: 100% !important;
  width: 100%;
}

/* If there is a wrapper around the article section, also override it */
.document .section {
  max-width: 100% !important;
  width: 100%;
}
